<p id="notice"><%= notice %></p>
<div class="newRestaurant">
<p class="leftText">
  <strong>Name:&nbsp;</strong>
  <%= @restaurant.name %>
</p>

<p class="leftText">
  <strong>Location:&nbsp;</strong>
  <%= @restaurant.location %>
</p>

<% if user_signed_in? %>
  <% if @restaurant.favorites.where(user: current_user, restaurant: @restaurant).count > 0 %>
    <p class="leftText">
      <strong>This restaurant is a favorite!</strong>
    </p>
  <% end %>
<% end%>

<p class="leftText">
  <strong>Will Split:&nbsp;</strong>
  <%= @restaurant.votes.where(votetype: 1).count %> 
</p>

<p class="leftText">
  <strong>Won't Split:&nbsp;</strong>
  <%= @restaurant.votes.where(votetype: -1).count %>
</p>

<% if user_signed_in? %>
  <% if @restaurant.favorites.where(user: current_user, restaurant: @restaurant).count > 0 %>
    <%= button_to 'Remove Favorite', removefave_path(@restaurant) %>
  <% else %>  
    <%= button_to 'Add Favorite', addfave_path(@restaurant) %>
  <% end %>
  <%= button_to 'Will Split', upvote_path(@restaurant) %>
  <%= button_to 'Won\'t Split', downvote_path(@restaurant) %>
  <%= button_to 'Edit', edit_restaurant_path(@restaurant) %>
<% end %>
<%= button_to 'Back', restaurants_url, method: :get %>
</div>
