<p id="notice"><%= notice %></p>
<div class="newRestaurant">
<p class="leftText">
  <strong>Name:&nbsp;</strong>
  <%= @restaurant.name %>
</p>

<p class="leftText">
  <strong>Location:&nbsp;</strong>
  <%= @restaurant.location %>
</p>

<p class="leftText">
  <strong>Will Split:&nbsp;</strong>
  <%= (@restaurant.upvotes.present? ? @restaurant.upvotes : 0) %> 
</p>

<p class="leftText">
  <strong>Won't Split:&nbsp;</strong>
  <%= (@restaurant.downvotes.present? ? @restaurant.downvotes : 0) %>
</p>

<%= button_to 'Will Split', upvote_path(@restaurant) %>
<%= button_to 'Won\'t Split', downvote_path(@restaurant) %>
<%= button_to 'Edit', edit_restaurant_path(@restaurant) %>
<%= button_to 'Back', restaurants_url, method: :get %>
</div>
