<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to SPLECK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <h1 class="mainHeader">
    <span class="leftText">SPL</span><span class="rightText">ECK&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br><br>
    <span class="leftText">DOES YOU</span><span class="rightText">R FAVORITE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
    <span class="leftText">&nbsp;RESTA</span><span class="rightText">URANT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
    <span class="leftText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SPLIT C</span><span class="rightText">HECKS?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
  </h1>
  <body>
    <%= yield %>
  </body>
</html>
